*~
*/*.vo
*/*/*.vo
*/*~
*/*/*~
*/#*#
*/*/#*#
extraction/*.ml
extraction/*.mli
extraction/STAMP
doc/*.glob
tools/*.cmi
tools/*.cmx
tools/*.exe
tools/*.o
ccomp
_build
.depend
Makefile.config
ia32/ConstpropOp.v
ia32/SelectOp.v
backend/SelectDiv.v
backend/SelectLong.v
driver/Configuration.ml
