*~
\#*
.\#*
*.o
*.c
*/*.vo
*/*/*.vo
*/*~
*/*/*~
*/.#*
*/#*#
*/*/#*#
.depend
bins/
test/regression/*.out
test/*/*.s
test/*/*.compcert
test/spass/spass
test/compression/arcode
test/compression/lzss
test/compression/lzw
test/raytracer/render
test/raytracer/kal.ppm
updates
runtime/*.o
runtime/*.a
tools/ndfun
extraction/*.ml
extraction/*.mli
extraction/STAMP
doc/*.glob
tools/*.cmi
tools/*.cmx
tools/*.exe
tools/*.o
ccomp
_build
Makefile.config
driver/Configuration.ml
doc/*
