*~
*/*.vo
*/*/*.vo
*/*~
*/*/*~
*/.#*
*/#*#
*/*/#*#
.depend
runtime/*.o
runtime/*.a
tools/ndfun
extraction/*.ml
extraction/*.mli
extraction/STAMP
doc/*.glob
tools/*.cmi
tools/*.cmx
tools/*.exe
tools/*.o
ccomp
_build
Makefile.config
driver/Configuration.ml
